.product{
    border: 1px solid #ccc;
    margin-bottom: 15px;
  
    padding: 10px;
 }
.product img{
    height: 122px;
    width:100px;
}

.product span:nth-child(2) {
    float: right;
}
.left{
    float: left;
    margin-right: 10px;
}
.product button{
    margin-top: 18px;
}